.input-page{
    min-width: 140px;
    width: 70vw;

    .api-status{
        display: flex;
    }

    .phone-number-input{
        margin: 25px;
        border: 1px solid black;
        padding: 25px;

        .form-body{
            width: 100%;
            display: flex;

            .button{
                margin: 0 30px;
            }
        }
    }

    .summary{
        margin: 25px;
        border: 1px solid black;
        padding: 25px;

        span{
            margin: 10px 0;
        }
    }

}